{% extends 'base.html.twig' %}
{% block body %}
<h1>Kontakt redakcji</h1><hr>
                <p>Specjalistyczny sklep rowerowy BICYKL<br> ul. Związkowa 10 (blisko uczelni WSPiA i RK Niedziałek)<br> 20-148 Lublin<br> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13588.438484677374!2d22.565407220549016!3d51.26650219460143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722575358a2757f%3A0x3946d94eed98cc1!2sZwi%C4%85zkowa+10%2C+20-148+Lublin!5e0!3m2!1spl!2spl!4v1494016011141" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                 
	        <div id="facebook_slider_widget" style="display: none"><script type="text/javascript" src="http://webfrik.pl/widget/facebook_slider.html?fb_url=https://www.facebook.com/Bicyklon/?fref=ts&amp;fb_width=290&amp;fb_height=590&amp;fb_faces=true&amp;fb_stream=true&amp;fb_header=true&amp;fb_border=true&amp;fb_theme=light&amp;chx=787&amp;speed=FAST&amp;fb_pic=sign&amp;position=LEFT"></script></div>

        </section>
{% endblock %}
